body {
    min-height: 2000px;
    padding-top: 70px;
}
.stuck {
  position: fixed;
}
.BigContainer{
  margin: auto;
  padding: 10px;
}
#lineChart{
 border-style: solid;
 border-width: 1.5px;
 float: right;
 margin: auto;
 padding: 10px;
}
.line {
  stroke: #000000;
  stroke-width:4;
}
.lineCeritified {
  stroke: #56ef89;
  stroke-width:1;
}
.lineDenied {
  stroke: #c10b0b;
  stroke-width:1;
}
.lineWithdrawn {
  stroke: #840ac1;
  stroke-width:1;
}
.linesCertified_Expired {
  stroke: #ffab44;
  stroke-width:1;
}

#map {
 float: left;
 margin: auto;
 border-style: solid;
 border-width: 1.5px;
padding: 10px;
}
#barChart{
  float: left;
  border-style: solid;
  border-width: 1.5px;
 padding: 10px;

}

#barChart2 {
  float: right;
  border-style: solid;
  border-width: 1.5px;
  padding: 10px;
}
#container{
  margin-top: 150px;
}
#container0{
  margin-top: 60px;
}
#container1{
  margin-top:150px;
  margin-left: 20px;
}
.hide {
  display: none;
}
.show{
  display: block;
}
#yearwise{
  position: absolute;
  margin: auto;
  right: 25%;
}
.highlighted {
    stroke: #404040;;
    stroke-width:4;
}
.yearChart{
    stroke: #FFF;
}
.yeartext {
    text-anchor:middle;
    font-size: 16px;
    fill: #565656;
    stroke-width: 0.1px;
}
#xAxis path,
#yAxis path {
    fill: none;
    stroke: black;
}

.d3-tip {
    /*line-height: 5;*/
   
    min-width: 610px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);

    pointer-events: none;
}
	
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}
.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
