body {
    min-height: 2000px;
    padding-top: 70px;
}
.stuck{
  position: fixed;
}
#lineChart{

}
#map {

}
#yearwise{
  position: absolute;
  left: 50%;
  right:50%;
}
.highlighted{
    stroke: #404040;;
    stroke-width:4;
}
.yearChart{
    stroke: #FFF;
}
.yeartext {
    text-anchor:middle;
    font-size: 16px;
    fill: #565656;
    stroke-width: 0.1px;
}
