body {
    min-height: 2000px;
    padding-top: 70px;
}
.stuck{
  /*position: fixed;*/
}
#lineChart{
 float: left;
}
#map {
 float: left;
}
#yearwise{
  position: absolute;
  /*margin: auto;*/
  /*left: 50%;
  right:50%;*/
  float: right;
}
.highlighted{
    stroke: #404040;;
    stroke-width:4;
}
.yearChart{
    stroke: #FFF;
}
.yeartext {
    text-anchor:middle;
    font-size: 16px;
    fill: #565656;
    stroke-width: 0.1px;
}
#xAxis path,
#yAxis path {
    fill: none;
    stroke: black;
}
.column {

}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}
.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
